{% extends "pages/base.html" %}
{% load static %}

{% block content %}
    <h1 >Forgot password?</h1>
    <div class="container">
        <div class="row  mt-4 align-items-center">
        <form action="">
        <!--with authentication-->
            {% csrf_token %}
            <!--Text and input field-->
            <div class="form-group  mt-3 align-content-start">
                <p class="text-muted font-weight-bold"> Enter your email address bellow to reset the password</p>
            <input id="email" type="email" name="email" placeholder="Email Address" class="form-control bg-white border-left-0 border-md">
            </div>
            <!--Submit button-->
            <div class="form-group  mt-3 align-content-start">
                <a href="#" class="btn btn-primary">
                    <span class="font-weight-bold">Submit</span>
                </a>
            </div>
        </form>



        </div>
    </div>
{% endblock content %}